/* Structure */
.example-container {
 
  margin-top: 0%;

  width: 100%;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  height: 450px;
  overflow:auto;
  padding-left: 1.5px;
}

table {
  width: 100%;
  margin: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.a{
  border: 2px solid rgb(13, 146, 235);
  padding: 5px;
  border-radius: 10%;
  width: 100px;
  height: 100px;
  }
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    padding: 5px;
  }
  tr.mat-row:hover {
  background-color: #f5f5f5;
  border: 1.5px  solid #36454F;
  border-radius: 10%;
  
}

.close {
 
 cursor: pointer;
  width: 100px;
  height: 100px;
opacity: 1;

}
.close:hover {
  opacity: 3;
color: red;

}
.close:before, .close:after {
  position: fixed;
  top: 75px;
  right: 8%;
  content: ' ';
  height: 30px;
  width: 8px;
  background-color:red;

}

.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.blurimg{
   /* The image used */
   

   /* Add the blur effect */
   filter: blur(8px);
   -webkit-filter: blur(8px);
 
   /* Full height */
   height: 100%;
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.fullimg{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: 2;
  width: 80%;
  height: 80%;
 

}
  